In [1]:
import pandas as pd
import re
import requests
import praw    #to access reddit data
from praw.models import MoreComments

In [2]:
requests.get('https://www.reddit.com/r/wallstreetbets/new/', headers = {'User-agent': 'your bot 0.1'})

In [3]:
reddit = praw.Reddit(
  client_id = "Your client_id",
  client_secret = "Your client_secret",
  user_agent = "Comment Extraction (by u/user name)"
)

In [4]:
subreddit = reddit.subreddit('wallstreetbets')

In [5]:
ticker_df = pd.read_csv('nasdaq_screener.csv').rename(columns = {'Symbol': 'Term', 'Name': 'Company_Name'})
#ticker_df

In [6]:
ticker_list = ticker_df['Term'].tolist()
ticker_list_lite = ['SPY', 'GME', 'AMC', 'SPCE', 'BABA', 'AMD', 'AMZN', 'SOFI', 'TSLA', 'WKHS', 
                    'CLOV', 'CLNE', 'JD', 'IQ', 'BB', 'WISH', 'WEN', 'NIO', 'CRSR', 'NLY',
                    'FOMO', 'QQQ', 'AAPL', 'TTCF', 'FUBO', 'NVDA', 'CLF']

Method 1

In [7]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [8]:
all_tickers = {}
hot_tickers = {}

for i in range (0, len(ticker_list)):
    ticker = ticker_list[i]
    all_tickers[ticker] = 1
# all_tickers

In [9]:
regexPattern = r'\b([A-Z]+)\b'

sentimental_score = {}
final_1 = {}

In [10]:
# nltk.download('vader_lexicon')

In [11]:
vader = SentimentIntensityAnalyzer()

In [12]:
for submission in subreddit.top('day'):
    strings = [submission.title]
    submission.comments.replace_more(limit = 0)
    for comment in submission.comments.list():
        strings.append(comment.body)
#        break
    for s in strings:
        for phrase in re.findall(regexPattern, s):
            if phrase in all_tickers:
                score1 = vader.polarity_scores(s)
#                 print(score1)
                if phrase not in sentimental_score:
                    sentimental_score[phrase] = score1
                else:
                    for key,_ in score1.items():
                        sentimental_score[phrase][key] += score1[key]
#         break
                if phrase not in hot_tickers:
                    hot_tickers[phrase] = 1
                else:
                    hot_tickers[phrase] += 1
        tickers1 = list(sentimental_score)
        for ticker1 in tickers1:
            final_1[ticker1] = sentimental_score[ticker1]['compound']
#     break

In [13]:
# sentimental_score
final_1

{'DD': 10.1228,
 'F': 1.7602000000000002,
 'U': -0.5876999999999999,
 'EXP': 0.0,
 'SENS': 0.0,
 'D': 6.6932,
 'PROS': -0.4466,
 'YOU': -2.1176,
 'ON': -0.4466,
 'FOR': -0.4466,
 'NEXT': -0.4466,
 'ARE': -1.3096999999999999,
 'JOBS': -0.4466,
 'SAM': -0.5423,
 'IRS': -1.3133,
 'RH': -0.9683000000000003,
 'LMAO': 0.8789,
 'PLTR': 4.9261,
 'A': 8.439300000000001,
 'IT': -0.033100000000000004,
 'ATH': 0.5234,
 'GME': 9.632199999999997,
 'AMD': 10.174900000000001,
 'C': 3.0509,
 'RIDE': 0.1487,
 'MCD': 0.4939,
 'IS': 0.0,
 'HOG': 1.3135000000000001,
 'DNUT': 0.34,
 'T': -0.7248000000000001,
 'BOOM': 0.0,
 'SNDL': 2.5476,
 'MAT': 0.0,
 'AMC': 10.714699999999999,
 'SOFI': -0.7959,
 'W': 0.0,
 'O': 1.1925,
 'HAS': 0.0,
 'SO': 0.0,
 'BB': 1.8048999999999995,
 'BNR': 0.0,
 'PULM': 0.2263,
 'Z': 0.0,
 'AAPL': 0.0,
 'B': 4.445500000000001,
 'TX': 0.0,
 'MSFT': 0.1179,
 'OG': -0.22349999999999998,
 'MU': 2.1197,
 'TSLA': 0.8846999999999999,
 'SPCE': 4.4815,
 'NVDA': 1.975,
 'BYND': 0.0434,
 'GO': 0.9863,
 'ALLY': -0.3197,
 'VTIQ': 0.44630000000000003,
 'PRT': 0.0,
 'J': -0.3818,
 'RE': -0.4404,
 'G': 0.2288000000000001,
 'TOPS': -0.2834,
 'CLOV': 11.9255,
 'GOLD': 0.0,
 'X': -0.5399,
 'ABT': 0.6705,
 'S': 2.8695999999999997,
 'TD': 0.7155,
 'IBKR': 0.7155,
 'AI': -0.36429999999999996,
 'WISH': 11.052100000000003,
 'CIA': -0.4767,
 'CAT': 0.7506,
 'BNGO': 0.0,
 'WKHS': -0.04769999999999999,
 'AGE': 0.4545,
 'MSM': 0.6599,
 'IP': -0.6488,
 'CLF': 6.813100000000001,
 'RIG': 0.5613,
 'L': -0.5859,
 'HRC': 2.4845,
 'HUGE': 0.5319,
 'MT': 0.17379999999999995,
 'PT': 0.0,
 'FCX': -0.9022,
 'CC': 0.5106,
 'EDIT': 0.9698,
 'ES': 0.872,
 'BIG': 0.7096,
 'FOMO': -0.6486,
 'FDS': -0.471,
 'IMO': 1.9590999999999998,
 'LOVE': 1.3156,
 'SQ': 0.5994,
 'FLY': 0.4955,
 'LADR': 0.7579,
 'GOOG': -1.1988,
 'USA': 1.0763,
 'NOW': -0.5434,
 'CLNE': 0.572,
 'EOD': -0.296,
 'RSI': 1.5125000000000002,
 'MMAT': 0.02760000000000007,
 'XPEV': 1.8958,
 'ET': 0.522,
 'CUK': 0.0,
 'SIC': 0.5319,
 'SI': 0.8719,
 'TA': 0.3612,
 'SP': 0.836,
 'UK': 0.4404,
 'ME': -0.0022999999999999687,
 'SBUX': -2.2148,
 'GM': -0.3847,
 'DM': -0.5535000000000001,
 'EVER': -0.4019,
 'DPZ': 0.4215,
 'DDS': 0.4404,
 'SB': 2.1508,
 'CMG': 0.0,
 'BC': 0.0,
 'CI': 0.8442,
 'FUBO': 0.8748,
 'TECH': 0.8748,
 'Y': -0.7184,
 'XLNX': 0.9808,
 'LL': 0.0,
 'JOB': 0.0,
 'WORK': 0.0,
 'R': 2.5223,
 'MIT': 0.9875,
 'AMZN': 0.93,
 'CMA': 0.93,
 'ANY': 0.0243,
 'MRIN': 0.9432,
 'NIO': 0.9432,
 'GAIN': 1.8586,
 'WELL': 1.2379,
 'CMC': 0.9376,
 'SIM': 0.3612,
 'JP': 0.5622,
 'APD': 0.0,
 'CRWD': 1.7564,
 'CAN': -0.8781,
 'VERY': 0.296,
 'MD': 0.3182,
 'EDR': 0.7906,
 'CVE': 0.3885,
 'LSPD': 0.3885,
 'SHOP': 0.3885,
 'DCBO': 0.3885,
 'CSU': 0.3885,
 'LEV': 0.4767,
 'DB': 0.0,
 'CCJ': 0.0,
 'PBA': 0.0,
 'FL': 0.2732,
 'V': 0.2732,
 'CTS': 0.0,
 'AC': 0.3818,
 'UWMC': -0.8048,
 'NNDM': -0.9116999999999998,
 'GL': 0.5473,
 'MNMD': 0.0,
 'CASH': 0.8897,
 'NCLH': 1.3227,
 'CCL': 0.8225,
 'RCL': 0.0,
 'DCF': 0.6858,
 'DAL': 0.7264,
 'COIN': -1.2639,
 'IRL': -0.9456,
 'DIDI': 0.8591,
 'LIFE': 0.0,
 'SON': -0.7027,
 'NES': -0.1511,
 'SNES': -0.1511,
 'NKLA': -0.25,
 'WTI': 0.4019,
 'SLB': 0.4019,
 'HAL': 0.4019,
 'TIL': 0.0,
 'CGC': 0.886,
 'TLRY': 0.0,
 'SMG': 0.0,
 'MAPS': 0.0,
 'NEGG': 0.0258,
 'QS': 2.8859}

In [14]:
series = pd.Series(hot_tickers).sort_values(ascending = False)
series[:10]

GME     98
AMC     90
DD      79
AMD     63
CLOV    58
A       49
WISH    29
BB      27
CLF     26
RH      21
dtype: int64

In [15]:
final_df = pd.DataFrame(pd.Series(final_1)).loc[series[:10].index]
final_df

            0
GME    9.6322
AMC   10.7147
DD    10.1228
AMD   10.1749
CLOV  11.9255
A      8.4393
WISH  11.0521
BB     1.8049
CLF    6.8131
RH    -0.9683

In [16]:
final_df['weights'] = final_df[0] / sum(final_df[0]) *100

In [17]:
final_df

            0    weights
GME    9.6322  12.083873
AMC   10.7147  13.441900
DD    10.1228  12.699345
AMD   10.1749  12.764706
CLOV  11.9255  14.960884
A      8.4393  10.587345
WISH  11.0521  13.865178
BB     1.8049   2.264299
CLF    6.8131   8.547231
RH    -0.9683  -1.214760

Method 2

In [18]:
data_input = subreddit.top('day', limit = 1000)
sum = [0] * len(ticker_list_lite) # our output array
counttotal = 0 # total number of comment read
submissions_counter = 0

In [19]:
for submissions in data_input:
    
  if not submissions.stickied:
    
    submissions_counter += 1
    
    if submissions_counter > 5:
        
      comments = submissions.comments
    
      for comment in comments:
            
        if isinstance(comment, MoreComments):
            continue
            
        counttotal += 1
        
        for i, ticker in enumerate(ticker_list_lite):
            
          if ticker in comment.body:
            
            sum[i] += 1

In [20]:
output = pd.DataFrame(data = {'Tick': ticker_list_lite, 'Counts': sum}).sort_values(['Counts'], ascending = False)
print('Total comments read: ', counttotal)
print(output[output['Counts'] > 0][:10])

Total comments read:  874
    Tick  Counts
1    GME      15
2    AMC      13
5    AMD      11
26   CLF      10
21   QQQ       7
15  WISH       5
14    BB       4
0    SPY       4
10  CLOV       3
3   SPCE       3